body{
  font-family: 'Exo 2', sans-serif;

}

.mainpage {
  margin-top: 40px;
  height: calc(100vh - 40px);
  min-height: 650px;
  text-align: center;
  background-image: url('../public/Images/back.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 10px solid #333;

}

.maintext {
  margin-top: 80px;
  height: 55%;
  min-height: 550px;
  width: 70%;
  text-align: center;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0.9;

}

.maintext h1 {
  font-size: 5rem;
  font-weight: 300;
  font-style: italic;
  color: rgb(10, 35, 40);
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
}

.maintext h2 {
  font-size: 2rem;
  font-weight: 300;
  color: rgb(100, 150, 160);
  position: relative;
  margin-bottom: 5px;
}

.maintext p{
  color: black;
}

.divider1{
  height: 5px;
  width: 40%;
  background-color: rgb(100, 150, 160);;
  border-radius: 20px;
  margin-bottom: 40px;
}

.divider2{
  height: 5px;
  width: 40%;
  background-color: rgb(10, 35, 40);
  border-radius: 20px;
  margin-bottom: 40px;
}

.Deti{
  height: 55px;
  width: 140px;
  border-radius: 20px;
  background-image: url('../public/Images/deti.png');
  background-size: cover;
}

.aboutsec{
  height: 200vh;
  min-height: 1000px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aboutsec h2 {
  font-size: 4rem;
  font-weight: 300;
  font-style: italic;
  color: rgb(10, 35, 40);
  position: relative;
  margin-bottom: 20px;
}

.context{
  width: 100%;
  height: 25%;
  min-height: 400px;
  display: flex;
}

.contextT {
  width: 90%;
  height: 100%;
  text-align: left;
  margin-left: 30px;
}

.contextT h3 {
  font-size: 3.5rem;
  font-weight: 300;
  color: rgb(100, 150, 160);
  margin-bottom: 20px;
  margin-top: 20px;
}

.contextT p {
  font-size: 1.5rem;
  font-weight: 200;
}

.contextI {
  height: 80%;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 45px;
}

.contextI img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.more{
  height: 25%;
  min-height: 500px;
  width: 100%;
}

.more h3{
  font-size: 3.5rem;
  font-weight: 300;
  color: rgb(100, 150, 160);
}

.moreinfo{
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.moreInfoText{
  height: 90%;
  width: 40%;
  border: 3px solid rgb(10, 35, 40);
  background-color: rgb(200,200,180);
  margin-left: 5vw;
  margin-right: 5vw;
}

.moreInfoText h4{
  font-size: 2rem;
  font-weight: 300;
  color: rgb(10, 35, 40);
  margin-top: 10px;
  margin-bottom: 10px;
}

.moreInfoText p{
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 900px){

  .mainpage {
    min-height: 850px;
  }

  .maintext {
    height: 55%;
    min-height: 700px;
  }

  .context{
    min-height: 600px;
  }
  
  .contextT h3 {
    font-size: 3rem;
  }

  .contextT p {
    font-size: 1.1rem;
  }

  .more{
    min-height: 1800px;
  }
  
  .more h3{
    font-size: 3rem;
  }
  
  .moreinfo{
    flex-direction: column;
  }
  
  .moreInfoText{
    height: 45%;
    width: 80%;
    border: 3px solid rgb(10, 35, 40);
    background-color: rgb(200,200,180);
    margin-left: 5vw;
    margin-right: 5vw;
  }
  
  .moreInfoText h4{
    font-size: 2rem;
    font-weight: 300;
    color: rgb(10, 35, 40);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .moreInfoText p{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  
}