
/***************************** Map Containers *****************************/
.containerMap {
    height: 100%;
    width: 100%;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    z-index:0;
}

/***************************** All Buttons *****************************/
.containerMap button {
    position: absolute;
    z-index: 1;
    height: 60px;
    width: 60px;
    background-color: #333;
    border-radius: 30px;
    transition: all 0.5s;
    font-size: 2rem;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.5s;
}

.containerMap button:hover {
    opacity: 1;
}

/***************************** Button To Focus On Person *****************************/
.FocusButton {
    top: 20px;
    right: 0.5rem;
}

/***************************** Button To Add Marker *****************************/
.AddButton {
    bottom: 20px;
    right: 0.5rem;
}

/***************************** Hazard Bar *****************************/
.hazardBar {
    position: absolute;
    top: 1%;
    right: 0;
    height: calc(98% - 2rem);
    width: 20%;
    z-index: 2;
    background-color: #333;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    padding: 1rem 0 1rem 1rem;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.hazardBarClosed {
    transform: translateX(100%);
}

/***************************** Hazard Bar Title *****************************/
.hbClose{
    width:100%;
    height:10%;
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
}

.hbClose i {
    position: absolute;
    top: 0;
    left: 0;
    color: #CFB178;
    font-size: 2rem;
    cursor: pointer;
}

.hbClose h2 {
    color: #CFB178;
}

/***************************** Hazards Select *****************************/
.hbHazards{
    width:100%;
    height:calc(90% - 2rem);
    position:absolute;
    top:calc(10% + 1rem);
}

.hbHazard {
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #CFB178;
    border-radius: 10px;
    transition: all 0.5s;
    background-color:#282828;
}

.hbHazard:hover {
    background-color:#111;
    cursor: pointer;
}

.hbHazard h3 {
    font-size: 20px;
    color: #CFB178;
}

.hbHIcon{
    height: 30px;
    width: auto;
    margin-right: 5px;
}
